.contact {
    margin-top: 10rem;
    padding: 5rem 0;
    background-image: linear-gradient(to right, $color-primary, $color-secondary);
    color: $color-white;
    display: flex;
    flex-direction: column;
    &__content {
        margin-top: 5rem;
        display: flex;
        justify-content: space-around;
        @media only screen and (max-width: $bp-medium) {
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 2rem;
            // margin-top: 2rem;
        }
        &-item {
            svg {
                height: 2rem;
                width: 2rem;
                margin-left: 1rem;
            }
        }
    }
    &__button {
        margin: 2rem 0;
        text-align: center;
        text-decoration: none;
        align-self: center;
        color: $color-white;
        font-family: $body-font;
        font-size: 1.5rem;
        text-transform: uppercase;
        border: 0.1rem solid $color-white;
        border-radius: 8rem;
        padding: 1rem 3rem;
        width: 30%;
        transition: $primary-transition;
        @media only screen and (max-width: $bp-medium) {
            width: 50%;
        }
        &:active,
        &:hover {
            background-color: $color-tertiary;
            color: $color-secondary;
            transform: translateY(-0.5rem);
        }
    }
}
